<div class="max-w-md mx-auto p-6 bg-white rounded-lg shadow-lg">
  <h2 class="text-2xl font-bold text-center mb-6">Collector Requests</h2>


    <ul class="space-y-4 mt-8">
      <ng-container *ngFor="let request of requests$ | async">
        <li *ngIf="request.address === userAddress" class="p-4 bg-gray-50 rounded-md shadow-md">
          <div class="flex justify-between">
            <h3 class="text-lg font-semibold">{{ request.address }} - {{ request.status }}</h3>
            <div>
              <button *ngIf="request.status === 'Pending'" (click)="updateRequestStatus( request.userId , request.id, 'Occupied')" class="text-green-600 mr-4">Occuper</button>
              <button *ngIf="request.status === 'Occupied'" (click)="updateRequestStatus( request.userId ,  request.id, 'InProgress')" class="text-blue-600 mr-4">En Cours</button>
              <button *ngIf="request.status === 'InProgress'" (click)="updateRequestStatus( request.userId , request.id, 'Validated')" class="text-green-600 mr-4">Valider</button>
              <button *ngIf="request.status === 'Pending' || request.status === 'Occupied' || request.status === 'InProgress'" (click)="updateRequestStatus( request.userId , request.id, 'Rejected')" class="text-red-600">Rejeter</button>
            </div>
          </div>

          <div *ngIf="request.wastes.length > 0" class="mt-2">
            <strong>Waste Items:</strong>
            <ul class="list-disc list-inside ml-4">
              <li *ngFor="let waste of request.wastes">
                {{ waste.type }} - {{ waste.weight }} kg
              </li>
            </ul>
          </div>
          <p><strong>Pickup Date:</strong> {{ request.date }} | <strong>Time:</strong> {{ request.time }}</p>
          <p *ngIf="request.notes"><strong>Notes:</strong> {{ request.notes }}</p>
        </li>
      </ng-container>
    </ul>


  <p *ngIf="(requests$ | async)?.length === 0" class="text-center mt-8">No requests found in this city.</p>
</div>
